<!-- <div class="container px-5">
  <h1 class="container py-3">Tous les articles depuis l'API</h1>
  <p class="text-end">
    <a class="btn btn-primary" [routerLink]="('/createapi')" >Ajouter</a>
  </p>
  <app-article *ngFor="let article of articles" [article]="article"></app-article> appel de Article Component [article]:le nom qui sera utilisé par l'enfant pour la boucle / "article": la variable article qui se trouve dans article liste / *ngfor permet de faire la boucle des element du tableau-->
  
<!-- </div> -->
