<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="https://imgs.search.brave.com/JAHeWxUYEwHB7KV6V1IbI9oL7wxJwIQ4Sbp8dHQL09A/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMjAx/MzkxNTc2NC9waG90/by91c2VyLWljb24t/aW4tZmxhdC1zdHls/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9UEotMnZvUWZh/Q3hhZUNsdzZYYlVz/QkNaT3NTTjlIVWVC/SUg1Qk82VmRScz0" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title">Nom: <b>{{user.fullName}}</b></h5>
        <h5 class="card-title">email: <b>{{user.email}}</b></h5>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
      <!-- <div class="card-body">
        <a class="btn btn-primary mx-2" [routerLink]="['/user', user.id]">Voir plus</a>
        <a class="btn btn-secondary mx-2" [routerLink]="['/edit', user.id]">Editer</a>
        <a class="btn btn-danger mx-2" href="" (click)="delete(user.id)">Supprimer</a>
      </div> -->
  </div>
</div>
